<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" width="50%">
            <input class="search" type="text" placeholder="Buscar productos, marcas...">
            <h3 class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="main-navbar">
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>

            </ul>
            <ul>
                <li>
                    <a href="#">Creá tu cuenta<i class="far fa-address-card"></i></a>
                </li>
                <li>
                    <a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        
    </header>
<img src="\images\img-home-banner.jpg" alt="" width="100%">
    
   <h4 class="title">Basado en tu última visita</h4>
    <div class="main">
         
        <article class="cafetera">
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <div class="price-and-discount">
                <p class="price">$5.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h5 class="description">Cafetera Moulinex</h5>
        </article>

        <article class="macbook">
            <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h5 class="description">MacBook Pro 2019</h5>
        </article>

        <article class="celular">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h5 class="description">Samsung Galaxy S10</h5>
        </article>

        <article class="smart-tv">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h5 class="description">SmartTv Samsung 53"</h5>
        </article>
    </div>
    <h4 class="title">Sección de Ofertas</h4>
    <div class="main">
        <article class="ofertas-cafetera">
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$5.770</p>
            <p class="discount">40% OFF</p>
            <h5 class="description">Cafetera Moulinex</h5>
        </article>

        <article class="ofertas-macbook">
            <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h5 class="description">MacBook Pro 2019</h5>
        </article>

        <article class="ofertas-celular">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h5 class="description">Samsung Galaxy S10</h5>
        </article>

        <article class="ofertas-masrt-tv">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h5 class="description">SmartTv Samsung 53"</h5>
        </article>

    </div>


    <div class="divfooter">
        <i class="fas fa-credit-card"></i>

        <h4 class="footer">Pagá con tarjeta o en efectivo
        </h4>
        <p class="footerp">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <i class="fas fa-gift"></i>
        <h4 class="footer">Envío gratis desde $ 2.500
        </h4>
        <p class="footerp">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fas fa-user-shield"></i>
        <h4 class="footer">Seguridad, de principio a fin</h4>
        <p class="footerp">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>


        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </div>

</body>

</html>