<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>

<body>
    <form action="">
        <div>
            <label>Nombre y Apellido</label>
            <input type="text" name="nombre" placeholder="Nombre y Apellido" pattern=".{1,}" title="Mas de 1 caracter">
        </div>
        <div>
            <label>Nombre de Usuario</label>
            <input type="text" name="usuario">
        </div>
        <div>
            <label>Fecha de nacimiento</label>
            <input type="date" name="nacimiento">
        </div>
        <div>
            <label>Domicilio:</label>
            <input type="text" name="domicilio">
        </div>
        <div class="perfil">
            <label>Perfil de usuario:</label>
            <input type="checkbox" name="comprar" id="comprar">
            <label for="comprar">Quiero comprar</label>
            <input type="checkbox" name="vender" id="vender">
            <label for="vender"> Quiero vender</label><br>
        </div>
        <div class="intereses">
            <label class="intereses">Intereses:</label>
            <input type="checkbox" name="electro">Electro</input>
            <input type="checkbox" name="moda">Moda</input>
            <input type="checkbox" name="hogar">Hogar</input>
            <input type="checkbox" name="jugue">Juguetería</input>
            <input type="checkbox" name="vidasana">Vida Sana</input>
        </div>
        <div>
            <label>Foto de perfil:</label>
            <input type="file" name="perfil">
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" name="contraseña">
        </div>
        <div>
            <label>Confirmar contraseña:</label>
            <input type="password" name="contraseña">
        </div>
        <div>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>

    </form>
</body>

</html>