* {
    box-sizing: border-box;
    margin: 0px;

}

h3 {
    margin-top: 8px;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #EAC926;
    padding: 10px;
    width: 100%;
    margin-top: 0;
}

.header input {
    width: 40%;
    border: none;
    padding: 8px;
    border-radius: 5%;
}

.logo {
    max-width: 300px;
}

.compra {
    max-width: 20%;
    font-size: 10px;
    text-align: center;
}

.header-top-bar {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-around;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.main-navbar ul {
    display: flex;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #222;
}

.main-navbar li {
    margin: 0 5px;
}

.logo {
    max-width: 300px;
}

div label {
    display: block;
}

div {
    margin-top: 6px;
}

.intereses-div {
    display: block;
}

.main  {
    display: flex;
    margin-top: 10px;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin: 0px;
}

input {
    border: none;
    padding: 8px;
    border-radius: 5%;
    width: 60%;
}

.perfil, .intereses {
    display: flex;
    flex-direction: column;
}

.intereses input, .perfil input{
    margin: auto;
}

.electro {
    display: block;
}

button {
    color: white;
    background-color: #0022AA;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8%;
    width: 60%;
    border: none;
    transition: all 0.3s;
    
}

button:hover {
    background-color: #39b54a;
}

.divfooter {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-credit-card, .fa-user-shield, .fa-gift {
    margin-top: 10px;
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.fa-credit-card:hover, .fa-user-shield:hover, .fa-gift:hover {
    color: #39b54a;
}