* {
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
}

div {
    margin-top: 20px;
    display: block;
}

div label {
    display: block;
}

.intereses-div {
    display: block;
}

input {
    border: none;
    padding: 8px;
    border-radius: 5%;
    width: 80%;
}

.perfil, .intereses {
    width: fit-content;
}

