* {
    box-sizing: border-box;
    margin: 0;
}

h3 {
    margin-top: 8px;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #EAC926;
    padding: 10px;
}

.logo {
    max-width: 300px;
}

div label {
    display: block;
}

.intereses-div {
    display: block;
}

.main  {
    display: flex;
    margin-top: 10px;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin: 0px;
}

input {
    border: none;
    padding: 8px;
    border-radius: 5%;
    width: 80%;
}

.perfil, .intereses {
    display: block;
    flex-direction: column;
}

.intereses-div {
    display: block;
}

.intereses input {
    width: 20%;
}
.perfil input {
    width: min-content;
}

button {
    background-color: white;
    margin-top: 15px;
    border: solid #EAC926 2px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20%;
}
